body {
  margin: 0px;
}

.taskContainer {
  padding: 15px 2%;
}

.anagramContainer {

}

.anagramStrings {
  display: inline-block;
  width: 49%;
  margin-right: 1%;
}

.code {
  border: #ededed;
  background-color: rgb(209, 196, 233);
  padding: 10px 20px;
  margin-top: 15px;
}